sn_clf/notebooks/if_test.ipynb
sn_clf/notebooks/long_onehot.ipynb
sn_clf/notebooks/proj_plot.ipynb
.Trash-1000/
anomaly_venv/
dr23-features/
.ipynb_checkpoints
**/*.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/__pycache__/
sn_clf/data/akb_sn_dr23_crossmatch.npy
sn_clf/data/bts_dr23_crossmatch.npy
rb_clf_V2/data/crossmatch.npy
lost+found/
rb_clf_V2/pineforest_result/
sn_clf/aad_result/
sn_clf/notebooks/feature_imp.png
sn_clf/notebooks/feature_imp_no-chi2.png
sn_clf/pineforest_result/
sn_clf/notebooks/bts_sample_oid.csv
sn_clf/notebooks/bts_validation.ipynb
sn_clf/data/bts_nocutmjd_dr23_crossmatch.npy
coniferest/
.virtual_documents/
SLSN_search/slsn_in_dr23.dat
SLSN_search/sn_in_dr23.dat
coniferest-0.0.14-cp310-abi3-manylinux_2_17_x86_64.manylinux2014.whl
coniferest_rust/
coniferest_rust_test/
sn_clf/data/akb_all_dr23_crossmatch.npy
sn_clf/notebooks/catboost_info/
sn_clf/notebooks/onnx_model/
SLSN_search/
umap/
AGN/
pineforest_output_budget50/
pineforest_output_budget30/
