.Trash-1000/
anomaly_venv/
dr23-features/
.ipynb_checkpoints
**/*.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/__pycache__/
sn_clf/data/akb_sn_dr23_crossmatch.npy
sn_clf/data/bts_dr23_crossmatch.npy
rb_clf_V2/data/crossmatch.npy
lost+found/
rb_clf_V2/pineforest_result/
sn_clf/aad_result/
sn_clf/notebooks/feature_imp.png
sn_clf/notebooks/feature_imp_no-chi2.png
sn_clf/pineforest_result/
sn_clf/notebooks/bts_sample_oid.csv
sn_clf/notebooks/bts_validation.ipynb
